@model List<PAUP.Models.OrderViewModel>;
@{
    
    ViewData["Title"] = "Narudžbe";
    Layout ="~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Popis narudžbi</h2>
        <br>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Broj</th>
      <th scope="col">Datum</th>
      <th scope="col">Cijena</th>
      <th scope="col">Korisnik</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <th scope="row">@order.Date</th>
            <td>@order.Price HRK</td>
            <td>@order.Email</td>
            <td>
                <div class="row">
                  @if(!order.HasOffer){
                    <div class="col-md-6">
                        <a href="/Admin/CreateOffer/@order.Id">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-toggle="modal" data-id="@order.Id" data-target="#exampleModalCenter">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                  }
                  else{
                    <div class="col-md-6">
                        <span class="green">Ponuda kreirana</span>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="action(1, @order.Id)">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </button>
                    </div>
                  }
                </div>
            </td>
        </tr>
    }
  </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Obriši narudžbu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="parent">Jeste li sigurni da želite obrisati narudžbu pod brojem <strong class="idhere" id="UserDelete"></strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        <button onclick="action(0,0)" type="button" class="btn btn-primary">Obriši</button>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('#exampleModalCenter').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).data('id');
                $(".idhere").html(id);
            });
        });
//0 -> delete, 1 -> download
        function action(id, order) {
          debugger;
          if(id == 0){
             var _order = {};
            _order.Id = $(".parent").parent().find("strong").text();
            $("#exampleModalCenter").modal("hide");
            $('body').removeClass("modal-open");
            $(".modal-backdrop").remove();

            $.ajax({
              type: "POST",
              url: "@Url.Action("DeleteOrder")",
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(_order),
              success: function (response) {
                  if (response == true) {
                      alert("Uspješno ste obrisali narudžbu!")
                      window.location.href ="/Admin/Orders"
                  }
              },
              failure: function (errMsg) {
                  alert(errMsg);
              }
              });
          }
          else {
            window.location.href = "/Admin/generatePDF/"+ order;
          }
           
        }
</script>